doctype html
html
    head
    body
        h1 Hey, #{userHandle} the challenge "#{title}" got new dicsussion message!
        h4 The content of the message is:
        p #{content}
        p Created at #{createdAt}
